:root {
  --alineado: center;
  --colortitulo2: #099d8d;
  --interlineadotitulo: 45px;
  --colortexto: #54585a;
  --interlineadotexto: 24px;
  --coolgrey: #b8b8b9;
}
.header {
  max-width: 768px;
}
.nombredelequipo {
  display: flex;

  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: #099d8d;
  font-family: rubik;
  text-transform: uppercase;
}

.enlaces {
  text-decoration: none;
  display: flex;

  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: aqua;
  font-family: rubik;
  text-transform: uppercase;
}

.fortalezas {
  margin: 504px 0 0;
  padding: 30px 15px 45px;
  background-color: var(--coolgrey);
  opacity: 0.2;
  text-align: var(--alineado);
}
.articulo {
  height: 50%;
}
.title {
  display: inline-block;
  font-size: 22px;
  color: var(--colortitulo2);
  line-height: var(--interlineadotitulo);
  height: 15px;
}
.parrafo {
  font-size: 16px;
  color: var(--colortexto);
  line-height: var(--interlineadotexto);
  margin-left: 15px;
  margin-right: 15px;
}

.quienessomos {
  text-align: center;
}

.photo {
  width: 180px;
  height: 180px;
}
.footer {
  display: block;
  height: 250px;
  margin: 250px 0 0;
  padding: 30px 74px 45px;
  border: solid 1px var(--coolgrey);
  background-color: white;
  text-align: var(--alineado);
}
.copy {
  color: var(--coolgrey);
  height: 20px;
  font-family: openSans;
  font-size: 14px;
  line-height: 20px;
}
.navegadorfooter {
  display: flex;
  flex-direction: column;
  margin: 20px 29px 30px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;

  text-transform: uppercase;
  line-height: 20px;
  color: var(--colortexto);
}
