/*.header {
  /* no consigo poner la imagen*/
/* background-size: cover;
  background-image: url(.relojito);
  width: 100%;
  height: 421px;
}
*/
.campos {
  color: #54585a;
  margin-bottom: 60px;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.main {
  margin: 20px;
}
.form {
  box-sizing: border-box;
  border: solid 1px gray;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 45px;
  padding-left: 15px;
}
.label {
  display: block;
  text-align: initial;
}

.form_comment {
  box-sizing: border-box;
  border: solid 1px gray;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 105px;
  padding-left: 15px;
}
.input {
  color: white;
  background-color: #099d8d;
  height: 45px;
  width: 100%;
  border-radius: 4px;
  margin: 30px 0 60px 0;
  text-align: center;
}
