/*.header {
  /* no consigo poner la imagen*/
/* background-size: cover;
  background-image: url(./images/altavoz-barato-1-2-3.jpg);
  width: 100%;
  height: 421px;
}
*/
.campos {
  color: #54585a;
  margin-bottom: 60px;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.main {
  margin: 20px;
}
.form {
  display: block;
  border: solid 1px gray;
  margin: 10px 0 10px 0;
  width: 100%;
}
.label {
  display: block;
}

.input {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #099d8d;
  height: 45px;
  width: 100%;
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
}
