body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.header2 {
  background-size: cover;
  background-image: url(../images/contact.jpg);
  width: 100%;
  height: 300px;
}
.containerequipo {
  color: #54585a;
  font-size: 12px;
  margin: 30px 0 60px 0;
}

.textequip {
  margin: 20px 0px 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--colortexto);
  line-height: 24px;
}
.main {
  margin: 20px;
}
.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 44px;
}

.form {
  border: solid 1px gray;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  box-sizing: border-box;
}
.label {
  text-align: left;
  grid-column: span 3;
}

.form_comment {
  border: solid 1px gray;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 105px;
  padding-left: 15px;
}
.input {
  grid-column: span 3;
  color: white;
  background-color: #099d8d;
  height: 45px;
  border-radius: 4px;
  margin: 30px 0 60px 0;
}
.asterisk {
  color: #14d9c4;
}
@media all and (min-width: 768px) {
  .main {
    margin: 0 160px;
  }
}

@media all and (min-width: 1200px) {
  .header2 {
    height: 400px;
  }
  .textequip {
    padding: 15px 0 30px 0;
    @include text;
  }
  .label2 {
    text-align: left;
    grid-column: span 2;
  }

  .label3 {
    text-align: left;
    grid-column: span 1;
  }
}
