<main class="cuerpo">
  <div class="container_hero">
    <hero class="hero">
      Si quieres ir rápido, ve solo. Si quieres llegar lejos, ve acompañado.
    </hero>
  </div>

  <section class="equipo1">
    <article class="container.equipo">
      <h1 id="equipo" class="equipo">Equipo</h1>
      <p class="textoequipo">
        Somos un equipo de desarrolladoras front-end. Estamos comprometidas con
        nuestro trabajo para facilitar a los usuarios un buen rendimiento de la
        página web. Además nos apoyamos unas en otras y siempre logramos
        nuestros objetivos gracias a la perseverancia y la unión entre nosotras.
      </p>
    </article>
  </section>
  <div class="rombo"></div>
  <section class="main__strong">
    <article class="main__strong--article">
      <h2 class="main__strong--title">Fortalezas</h2>
      <p class="main__strong--paragraph">
        Trabajamos unidas gracias al compromiso y la búsqueda de soluciones
        tratando los problemas con seriedad y tintes de humor, para ello nuestra
        diversidad de trayectorias profesionales y experiencias de vida han
        logrado fortalecernos y unirnos como equipo.
      </p>
    </article>
    <article class="main__strong--article">
      <h2 class="main__strong--title">Debilidades</h2>
      <p class="main__strong--paragraph">
        Las debilidades de unas pueden ser las fortalezas de otras, así que
        remando juntas como equipo podremos superarlas y para ello estamos
        aprendiendo, gracias a Adalab, a suplir la poca experiencia que a día de
        hoy tenemos en el sector de la programación front-end.
      </p>
    </article>
  </section>

  <section id="quienessomos" class="quienessomos">
    <h1 class="whoarewe">Quiénes somos</h1>
    <article class="description descriptionleft">
      <img class="photo" src="./assets/images/FotoMai.jpg" alt="Foto Mai" />
      <div class="boxleft">
        <h2 class="names">Maitane Abad</h2>
        <p class="text textleft">
          Técnico de farmacia y parafarmacia, Community manager y futura
          desarrolladora web. Mi objetivo con este curso es poder escribir,
          diseñar y editar el contenido de una página web.
        </p>
        <div class="icons iconsleft">
          <a href="https://twitter.com/adalab_digital?lang=es">
            <i class="fab fa-twitter"> · </i></a
          >

          <a href="https://github.com/MaitaneAbad">
            <i class="fab fa-github-alt" title="Github Maitane"> · </i></a
          >
          <a href="https://www.linkedin.com/in/maitane-abad-conde-b162a1165/"
            ><i class="fab fa-linkedin" title="Linkedin Maitane"> · </i></a
          >
          <a href="mailto:maitaneabadconde@gmail.com"
            ><i class="fas fa-envelope-square" title="Correo Maitane"></i
          ></a>
        </div>
      </div>
    </article>

    <article class="description descriptionright">
      <img class="photo" src="./assets/images/foto Ana.jpg" alt="Foto Ana" />
      <div class="boxright">
        <h2 class="names">Ana Redondo</h2>
        <p class="text textright">
          Graduada social y futura programadora front-end. Mis objetivos son
          disfrutar de esta nueva etapa superando el reto de dedicarme a una
          actividad laboral totalmente distinta en la que el compañerismo sea
          nuestra filosofía de trabajo.
        </p>
        <div class="icons iconsright">
          <a href="https://twitter.com/adalab_digital?lang=es">
            <i class="fab fa-twitter"> · </i></a
          >
          <a href="https://github.com/dunayari"
            ><i class="fab fa-github-alt" title="Github Ana"> · </i></a
          >
          <a href="http://linkedin.com/in/ana-mar%C3%ADa-redondo-gil-83254a110"
            ><i class="fab fa-linkedin" title="Linkedin Ana"> · </i></a
          >
          <a href="mailto:anaredondogil@gmail.com"
            ><i class="fas fa-envelope-square" title="Correo Ana"></i
          ></a>
        </div>
      </div>
    </article>

    <article class="description descriptionleft">
      <img
        class="photo"
        src="./assets/images/fotoperfilpaloma.jpg"
        alt="Foto Paloma"
      />
      <div class="boxleft">
        <h2 class="names">Paloma Lozano</h2>
        <p class="text textleft">
          Diseñadora gráfica y futura programadora web Front-end. Mis objetivos
          son poder proporcionar a las personas una buena experiencia, de manera
          visual y guiada, para que les parezca fácil el uso de la web y sea
          accesible para todos.
        </p>

        <div class="icons iconsleft">
          <a href="https://twitter.com/adalab_digital?lang=es"
            ><i class="fab fa-twitter"> · </i></a
          >
          <a href="https://github.com/PalomaLozano"
            ><i class="fab fa-github-alt" title="Github Paloma"> · </i></a
          >
          <a href="https://www.linkedin.com/in/paloma-lozano/"
            ><i class="fab fa-linkedin" title="Linkedin Paloma"> · </i></a
          >
          <a href="mailto:palomalogu9@gmail.com"
            ><i class="fas fa-envelope-square" title="Correo Paloma"></i
          ></a>
        </div>
      </div>
    </article>

    <article class="description descriptionright">
      <img class="photo" src="./assets/images/FotoIre.jpg" alt="Foto Irene" />
      <div class="boxright">
        <h2 class="names">Irene González</h2>
        <p class="text textright">
          Conservadora y Restauradora de Bienes Culturales, futura programadora
          Front End en busca de un giro en mi trayectoria profesional donde
          poder evolucionar.
        </p>

        <div class="icons iconsright">
          <a href="https://twitter.com/adalab_digital?lang=es"
            ><i class="fab fa-twitter"> · </i></a
          >
          <a href="https://github.com/IreGonzalez"
            ><i class="fab fa-github-alt" title="Github Irene"> · </i></a
          >
          <a href="https://www.linkedin.com/in/iregonzalez/"
            ><i class="fab fa-linkedin" title="Linkedin Irene"> · </i></a
          >
          <a href="mailto:irenegonzalezpinilla@gmail.com"
            ><i class="fas fa-envelope-square" title="Correo Irene"></i
          ></a>
        </div>
      </div>
    </article>
  </section>
</main>
