:root {
  --alineado: center;
  --colortitulo2: #099d8d;
  --colortitulo2-1: rgba(9, 157, 141, 0.95);
  --interlineadotitulo: 30px;
  --colortexto: #54585a;
  --interlineadotexto: 24px;
  --coolgrey: #b8b8b9;
  --coolgrey-light: rgba(184, 184, 185, 0.2);
}
