.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  border: solid 1px var(--coolgrey);
  background-color: white;

  @media all and (min-width: 768px) {
    height: 170px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media all and (min-width: 1200px) {
    height: 161px;
  }

  &__copy {
    @include textcopy;
    @media all and (min-width: 768px) {
      position: relative;
      left: 45px;
      top: -30px;
    }
    @media all and (min-width: 1200px) {
      left: 138px;
    }
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    margin: 20px 29px 30px;
    @include textfooternavigation;
    @media all and (min-width: 768px) {
      text-align: right;
      order: 1;
      margin-right: 45px;
    }
    @media all and (min-width: 1200px) {
      margin-right: 138px;
    }
  }
}

.logo {
  width: 116px;
  height: 45px;

  @media all and (min-width: 768px) {
    position: absolute;
    left: 45px;
  }
  @media all and (min-width: 1200px) {
    left: 138px;
  }
}

/*****************Desktop*******1200px**********/
