.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 100%;
  border: solid 1px var(--coolgrey);
  background-color: white;
  text-align: var(--alineado);

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__copy {
  @include textcopy;
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  margin: 20px 29px 30px;
  @include textfooternavigation;
}
.logo {
  width: 116px;
  height: 45px;
  text-align: center;

  @media all and (min-width: 768px) {
    position: absolute;
    left: 0em;
  }
}

/*****************Desktop*******1200px**********/
