/* MAI */
.nombredelequipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colortitulo2-1);
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
}
.nombre {
  font-size: 16px;
  color: white;
}
.header {
  background-size: cover;
  background-image: url(../images/altavoz-barato-1-2-3.jpg);
  width: 100%;
  height: 421px;
}
.enlaces {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 255, 255, 0.9);
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  line-height: var(--interlineadotexto);
}
.lema_titulo {
  height: 45px;
}
.container_hero {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 14px 15px 16px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  top: -30px;
  width: 80%;
  height: 50px;
}
.equipo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  font-family: "rubik", sans-serif;
  font-size: 24px;
  line-height: var(--interlineadotexto);
  color: aqua;
}

.equipo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px, 15px, 90px; /* me quedo aqui */
  font-family: "Rubik", sans-serif;
  width: 100%;
  line-height: var(--interlineadotexto);
}
.textoequipo {
  display: flex;
  flex-direction: column;
  padding: 30px 15px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: var(--interlineadotexto);
}

/*****************Tablet*****************/
@media all and (min-width: 768px) {
  .nombre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px 0px 15px 45px;
  }
  .enlaces {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -54px;
    font-size: 15px;
    background-color: transparent;
    left: 190px;
  }
  .link {
    padding: 16px 45px 14px 0px;
  }
  .hero {
    position: relative;
    top: -80px;
    left: -100px;
    padding: 15px 30px 15px 30px;
    width: 441px;
    height: 80px;
    opacity: 0.8;
  }
  .containerequipo {
    text-align: center;
  }
  .equipo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .textoequipo {
    width: 80vh;
    padding-bottom: 20px;
  }
  .equipo1 {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
  }
  .containerequipo {
    text-align: center;
  }
  .equipo {
    padding-top: 0;
  }
  .textoequipo {
    width: 80vh;
  }
  .equipo1 {
    flex-direction: row;
  }
}
