/* MAI */
.nombredelequipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colortitulo2-1);
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  width: 100%;
}
.nombre {
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-size: cover;
  background-image: url(../images/altavoz-barato-1-2-3.jpg);
  width: 100%;
  height: 421px;
}
.enlaces {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: rgba(0, 255, 255, 0.9);

  height: 45px;
}
.lema_titulo {
  height: 45px;
}
.container_hero {
  display: flex;
  justify-content: center;
  height: 50px;
}
.hero {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 14px 15px 16px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  top: -30px;
  width: 80%;
  height: 50px;
}
.equipo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  font-family: "rubik", sans-serif;
  font-size: 24px;
  line-height: var(--interlineadotexto);
  color: aqua;
}

.equipo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px, 15px, 90px; /* me quedo aqui */
  font-family: "Rubik", sans-serif;
  width: 100%;
  line-height: var(--interlineadotexto);
}
.textoequipo {
  display: flex;
  flex-direction: column;
  padding: 30px 15px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: var(--interlineadotexto);
  color: var(--colortexto);
}

/*****************Tablet*****************/
@media all and (min-width: 768px) {
  .nombre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px 45px 15px 45px;
  }
  .enlaces {
    justify-content: end;

    position: relative;
    top: -54px;
    font-size: 15px;
    background-color: transparent;
  }
  .link {
    padding: 16px 45px 14px 0px;
  }
  .hero {
    position: relative;
    top: -80px;
    left: -100px;
    position: relative;
    padding: 0px 30px 0px 30px;
    width: 441px;
    height: 80px;
    opacity: 0.8;
  }
  .containerequipo {
    text-align: center;
  }
  .equipo {
    color: var(--colortitulo2);
    padding-top: 0;
    padding-bottom: 0;
  }

  .equipo1 {
    flex-direction: row;
  }
  .textoequipo {
    padding: 30px 45px 40px;
  }
  @media screen and (min-width: 1200px) {
    .nombre {
      padding-left: 150px;
    }
    .enlaces {
      width: 450px;
      justify-content: center;
      position: relative;
      left: 700px;
    }
    .hero {
      position: relative;
      padding: 0px 30px 0px 30px;
      left: -220px;
    }
    .containerequipo {
      text-align: center;
    }
    .equipo {
      padding-top: 0;
    }
    .textoequipo {
      padding: 20px 0px 60px;
      margin: 0 300px 0 300px;
    }
    .equipo1 {
      flex-direction: row;
    }
  }
}
