.quienessomos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: var(--interlineadotitulo);
  color: var(--colortitulo2);
  text-align: center;
  margin: 15px;
}
.description {
  display: flex;
  width: 100%;
  color: #54585a;
  line-height: var(--interlineadotexto);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.photo {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.names {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
  line-height: 45px;
}
.icons {
  align-items: center;
  color: #099d8d;
  size: 16px;
  padding: 30px;
  margin-bottom: 10px;
  line-height: 30px;
}

/*****************Tablet*****************/
@media all and (min-width: 768px) {
  /* ANA */
  .whoarewe {
    color: var(--colortitulo2);
    text-transform: uppercase;
    padding: 45px 0 41px 0;
  }
  .photo {
    max-width: 180px;
    max-height: 180px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
  }
  .descriptionleft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 31px;
    text-align: left;
  }
  .descriptionright {
    display: flex;
    flex-direction: row-reverse;
  }
  .boxright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .names {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    line-height: 45px;
    text-align: left;
  }

  .textleft {
    width: 443px;
    height: 142px;
    font-size: 16px;
    text-align: left;
  }
  .textright {
    width: 650px;
    height: 142px;
    font-size: 16px;
    text-align: right;
  }

  .iconsleft {
    color: #099d8d;
    size: 16px;
    display: flex;
    justify-content: left;
    padding-left: 0;
  }
  .iconsright {
    color: #099d8d;
    size: 16px;
    display: flex;
    justify-content: right;
    padding-right: 0;
  }

  .textoequipo {
  } /* padding: 10px 45px 30px; /* modificar */
}

/****************************** VISTA DESDE DESKTOP **************************/

@media screen and (min-width: 1200px) {
  .quienessomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #54585a;
  }

  .description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .box {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px;
  }
}

/* FIN DE VISTA DESDE DESKTOP */
