.quienessomos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: var(--interlineadotitulo);
  color: var(--colortitulo2);
  text-align: center;
  margin: 15px;

  @media all and (min-width: 1200px) {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.whoarewe {
  @include greentitle;
  margin-top: 45px;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #54585a;
  line-height: var(--interlineadotexto);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }

  @media all and (min-width: 1200px) {
    .descriptionleft {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  @media all and (min-width: 1200px) {
    .descriptionright {
      padding: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}

.boxright {
  @media all and (min-width: 1200px) {
    margin-right: 138px;
    margin-left: 300px;
  }
}

.boxleft {
  @media all and (min-width: 1200px) {
    margin-right: 300px;
    margin-left: 138px;
  }
}
.photo {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.names {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
  line-height: 45px;
}
.icons {
  align-items: center;
  color: #099d8d;
  size: 16px;
  padding: 30px;
  margin-bottom: 10px;
  line-height: 30px;
}
.fab {
  padding: 5px;
}

/*****************Tablet*****************/
@media all and (min-width: 768px) {
  /* ANA */

  .quienessomos {
    margin: 0px 45px 0px 45px;
  }

  .photo {
    max-width: 205px;
    max-height: 205px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
  }
  .descriptionleft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .descriptionright {
    display: flex;
    flex-direction: row-reverse;
  }
  .boxright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 30px;
    margin-right: 22px;
  }
  .boxleft {
    margin-right: 30px;
    margin-left: 22px;
  }

  .names {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    line-height: 45px;
    text-align: left;
  }

  .textleft {
    margin-right: 44px;
    font-size: 16px;
    text-align: left;
  }
  .textright {
    font-size: 16px;
    text-align: right;
  }

  .iconsleft {
    color: #099d8d;
    size: 16px;
    display: flex;
    justify-content: left;
    padding-right: 0;
  }
  .iconsright {
    color: #099d8d;
    size: 16px;
    display: flex;
    justify-content: right;
    padding-right: 0;
  }
}

/*vista photo DESKTOP*/
.photo {
  @media all and (min-width: 1200px) {
    max-width: 278px;
    max-height: 278px;
  }
}
