.rombo {
  background-color: white;
  height: 30px;
  width: 30px;
  transform: rotate(45deg) translateY(50%);
  margin: auto;
}
.main__strong {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 0;
  padding: 30px 15px 45px;
  background-color: var(--coolgrey-light);

  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}
.main__strong--article {
  height: 50%;
}
.main__strong--title {
  @include greentitle;
}
.main__strong--paragraph {
  @include text;
  margin-left: 15px;
  margin-right: 15px;
}
